Autor: **Sebastián González Juárez**

*Universidad Nacional Autónoma de México - Facultad de Ciencias.*
# Tarea 1 - Pandas y Numpy.

In [54]:
import pandas as pd
import numpy as np
from google.colab import drive

## 1.
Un concepto últil de manejar es el de Series, esto nos permite convertir listas, diccionarios y otros objetos de Python en objetos compatibles con Pandas.

Objetos:

In [4]:
a_list = list('abcedfghijklmnopqrstuvwxyz')
an_arr = np.arange(26)

a_dict = dict(zip(a_list, an_arr))

Convertirlos en Series:

In [6]:
# Lista → Serie
serie_1 = pd.Series(a_list)
print("Serie 1:\n", serie_1, "\n")

Serie 1:
 0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [7]:
# Arreglo de NumPy → Serie
serie_2 = pd.Series(an_arr)
print("Serie 2:\n", serie_2, "\n")

Serie 2:
 0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

In [8]:
# Diccionario → Serie
serie_3 = pd.Series(a_dict)
print("Serie 3:\n", serie_3, "\n")

Serie 3:
 a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

**Pregunta**: ¿Qué hace el método ZIP() con el que se define el diccionario para la última serie?

**Respuesta**: El método ZIP se usa para unir dos o más iterables (elemento por elemento).

In [10]:
a_dict = dict(zip(a_list, an_arr))
print(a_dict)

{'a': np.int64(0), 'b': np.int64(1), 'c': np.int64(2), 'e': np.int64(3), 'd': np.int64(4), 'f': np.int64(5), 'g': np.int64(6), 'h': np.int64(7), 'i': np.int64(8), 'j': np.int64(9), 'k': np.int64(10), 'l': np.int64(11), 'm': np.int64(12), 'n': np.int64(13), 'o': np.int64(14), 'p': np.int64(15), 'q': np.int64(16), 'r': np.int64(17), 's': np.int64(18), 't': np.int64(19), 'u': np.int64(20), 'v': np.int64(21), 'w': np.int64(22), 'x': np.int64(23), 'y': np.int64(24), 'z': np.int64(25)}

## 2.
Convierte las primeras 2 series generadas arriba en un dataframe.

**Sugerencia**: investiga el método "Reset Index" aplicado a los dataframes y aplícalo a tu dataframe.

In [11]:
a_list = list('abcedfghijklmnopqrstuvwxyz')
an_arr = np.arange(26)

In [12]:
serie_1 = pd.Series(a_list)
serie_2 = pd.Series(an_arr)

In [13]:
# Convertir en DataFrame
df = pd.DataFrame({"letras": serie_1, "numeros": serie_2})
print("DataFrame original:\n", df.head(), "\n")

DataFrame original:
   letras  numeros
0      a        0
1      b        1
2      c        2
3      e        3
4      d        4

In [14]:
# Sugerencia de aplicar reset_index
df_reset = df.reset_index(drop=True)
print("DataFrame con reset_index:\n", df_reset.head())

DataFrame con reset_index:
   letras  numeros
0      a        0
1      b        1
2      c        2
3      e        3
4      d        4

**¿Qué pasa si no lo aplicas?**

Reset Index sirve para reenumerar el índice del DataFrame de 0 a n-1. Al no aplicarlo, el índice original de las Series se conserva.

En este caso no paso nada, pero por ejemplo:

In [15]:
serie_1 = pd.Series(list("abcdef"), index=[0, 1, 2, 3, 4, 5])
serie_2 = pd.Series(range(6), index=[10, 11, 12, 13, 14, 15])

print("Serie 1:\n", serie_1, "\n")
print("Serie 2:\n", serie_2, "\n")

Serie 1:
 0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

Serie 2:
 10    0
11    1
12    2
13    3
14    4
15    5
dtype: int64

In [16]:
# DataFrame sin reset_index
df = pd.DataFrame({"letras": serie_1, "numeros": serie_2})
print("DataFrame sin reset_index:\n", df, "\n")

# DataFrame con reset_index
df_reset = df.reset_index(drop=True)
print("DataFrame con reset_index:\n", df_reset)

DataFrame sin reset_index:
    letras  numeros
0       a      NaN
1       b      NaN
2       c      NaN
3       d      NaN
4       e      NaN
5       f      NaN
10    NaN      0.0
11    NaN      1.0
12    NaN      2.0
13    NaN      3.0
14    NaN      4.0
15    NaN      5.0

DataFrame con reset_index:
    letras  numeros
0       a      NaN
1       b      NaN
2       c      NaN
3       d      NaN
4       e      NaN
5       f      NaN
6     NaN      0.0
7     NaN      1.0
8     NaN      2.0
9     NaN      3.0
10    NaN      4.0
11    NaN      5.0

- Sin reset_index → Pandas conserva los índices originales y los alinea.

- Con reset_index → se reinicia el índice a 0,1,2,... aunque los datos tengan huecos.

## 3.
Dadas las siguientes series, encuentra todos los elementos de la serie 1 que se **encuentran** en la serie 2 y viceversa. Después encuentra todos los elementos de la serie 1 que NO están en la serie 2 y viceversa.

In [17]:
serie_1 = pd.Series([1, 2, 3, 4, 5])
serie_2 = pd.Series([4, 5, 6, 7, 8])

**Sugerencia**: Podemos invertir valores booleanos utilizando el simbolo ~ en Series de Pandas

In [18]:
#EJEMPLO
a_serie = pd.Series([True, False, True])
print(~a_serie)

0    False
1     True
2    False
dtype: bool

Elementos en común:

In [26]:
encomun1 = serie_1.isin(serie_2)
print("Elementos de serie_1 que están en serie_2:\n", encomun1, "\n")

encomun2 = serie_2.isin(serie_1)
print("Elementos de serie_2 que están en serie_1:\n", encomun2)

Elementos de serie_1 que están en serie_2:
 0    False
1    False
2    False
3     True
4     True
dtype: bool

Elementos de serie_2 que están en serie_1:
 0     True
1     True
2    False
3    False
4    False
dtype: bool

In [27]:
print("Elementos de serie_1 que no están en serie_2:\n", ~ encomun1, "\n")
print("Elementos de serie_2 que no están en serie_1:\n", ~ encomun2)

Elementos de serie_1 que no están en serie_2:
 0     True
1     True
2     True
3    False
4    False
dtype: bool

Elementos de serie_2 que no están en serie_1:
 0    False
1    False
2     True
3     True
4     True
dtype: bool

In [31]:
junta = pd.concat([encomun1, encomun2], ignore_index=True)
print("Elementos que NO se comparten entre las series en una misma serie:\n", junta)

Elementos que NO se comparten entre las series en una misma serie:
 0    False
1    False
2    False
3     True
4     True
5     True
6     True
7    False
8    False
9    False
dtype: bool

In [34]:
NoComp = pd.concat ([serie_1[~serie_1.isin(serie_2)], serie_2[~serie_2.isin(serie_1)]])
print("Elementos que NO se comparten entre las series:\n", NoComp)

Elementos que NO se comparten entre las series:
 0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

## 4.
Cuando trabajamos con números generados "aleatoreamente" una forma útil de reproducir nuestros resultados es utilizando "semillas", estas son un número a partir del cual Numpy generará los arreglos de números aleatoreos.

Por ejemplo:

In [35]:
#Definimos una semilla utilizando el método de Numpy "random.seed()" y colocando un número entre los paréntesis.
#En este caso se colocó el número 7.
np.random.seed(7) #7

Utilizando el método de Numpy: random.randint() podemos generar un arreglo de 30 números enteros entre 0 y 10.

In [36]:
random_array = np.random.randint(0,10, size=(30))
random_array

array([4, 9, 6, 3, 3, 7, 7, 9, 7, 8, 9, 8, 7, 6, 4, 0, 7, 0, 7, 6, 3, 5,
       8, 8, 7, 5, 0, 0, 2, 8])

Dada la siguiente lista:

In [37]:
a_list = list('abcdefghij')
a_list

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

Obtén la letra correspondiente a cada valor numérico en el arreglo aleatorio.

Por ejemplo, el primer valor del arreglo es 4, entonces la letra correspondiente es la "e" (recordar que Python cuenta a partir de 0). El segundo valor del arreglo aleatorio es el 9, entonces la letra correspondiente es la "j". Y así consecutivamente.

Guarda tus resultados en un arreglo de Numpy.

In [43]:
letras = np.array(a_list)
letras

array(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='<U1')

In [45]:
mapeo = letras[random_array]
mapeo

array(['e', 'j', 'g', 'd', 'd', 'h', 'h', 'j', 'h', 'i', 'j', 'i', 'h',
       'g', 'e', 'a', 'h', 'a', 'h', 'g', 'd', 'f', 'i', 'i', 'h', 'f',
       'a', 'a', 'c', 'i'], dtype='<U1')

Determina cuántas veces aparece cada letra en tu arreglo.

In [48]:
unique_letters, counts = np.unique(mapeo, return_counts=True)

for letra, cuenta in zip(unique_letters, counts):
    print(f"'{letra}' aparece {cuenta} veces")

'a' aparece 4 veces
'c' aparece 1 veces
'd' aparece 3 veces
'e' aparece 2 veces
'f' aparece 2 veces
'g' aparece 3 veces
'h' aparece 7 veces
'i' aparece 5 veces
'j' aparece 3 veces

## 5.
Dada la siguiente serie:

In [49]:
serie_letters = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
serie_letters

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

Obtén la letra en las siguientes posiciones:

In [50]:
positions = [0, 4, 8, 14, 20]

In [51]:
posiciones = serie_letters.iloc[positions]
print(posiciones)

0     a
4     e
8     i
14    o
20    u
dtype: object

## 6.
Utilizando el archivo CSV unique_m.csv, determina el número de compuestos que tienen hidrógeno en su composición y que tienen una temperatura crítica inferior a los 100 Kelvin.

In [55]:
drive.mount('/content/drive')
path = "/content/drive/MyDrive/TSFC2_Redes_Neuronales/unique_m.csv"
df = pd.read_csv(path)

Mounted at /content/drive

In [56]:
print(df.head())

     H  He   Li   Be    B    C    N    O    F  Ne  ...   Au   Hg   Tl   Pb  \
0  0.0   0  0.0  0.0  0.0  0.0  0.0  4.0  0.0   0  ...  0.0  0.0  0.0  0.0
1  0.0   0  0.0  0.0  0.0  0.0  0.0  4.0  0.0   0  ...  0.0  0.0  0.0  0.0
2  0.0   0  0.0  0.0  0.0  0.0  0.0  4.0  0.0   0  ...  0.0  0.0  0.0  0.0
3  0.0   0  0.0  0.0  0.0  0.0  0.0  4.0  0.0   0  ...  0.0  0.0  0.0  0.0
4  0.0   0  0.0  0.0  0.0  0.0  0.0  4.0  0.0   0  ...  0.0  0.0  0.0  0.0

    Bi  Po  At  Rn  critical_temp                material
0  0.0   0   0   0           29.0         Ba0.2La1.8Cu1O4
1  0.0   0   0   0           26.0  Ba0.1La1.9Ag0.1Cu0.9O4
2  0.0   0   0   0           19.0         Ba0.1La1.9Cu1O4
3  0.0   0   0   0           22.0       Ba0.15La1.85Cu1O4
4  0.0   0   0   0           23.0         Ba0.3La1.7Cu1O4

[5 rows x 88 columns]

Asegurar tipos numéricos

In [58]:
df['H'] = pd.to_numeric(df.get('H', 0), errors='coerce').fillna(0)
df['critical_temp'] = pd.to_numeric(df.get('critical_temp'), errors='coerce')

Filtro: H en composición y Tc < 100 K

In [59]:
mask = (df['H'] > 0) & (df['critical_temp'] < 100)

conteo

In [60]:
count = int(mask.sum())
print("Número de compuestos con H y Tc < 100 K:", count)

Número de compuestos con H y Tc < 100 K: 296

In [61]:
cols_to_show = [c for c in ['material', 'H', 'critical_temp'] if c in df.columns]
print(df.loc[mask, cols_to_show].head(10))

             material     H  critical_temp
135   Y1Ba2Cu3H0.14O7  0.14          92.50
136   Y1Ba2Cu3H0.48O7  0.48          93.60
137      Y1Ba2Cu3H1O7  1.00          93.20
311       Y1Ba2Cu3HO7  1.00          90.00
312       Y1Ba2Cu3HO7  1.00          43.05
2028  Y1Ba2Cu3H0.13O7  0.13          93.50
2029  Y1Ba2Cu3H0.19O7  0.19          93.50
2030  Y1Ba2Cu3H0.38O7  0.38          93.80
2031  Y1Ba2Cu3H0.49O7  0.49          93.60
2545   Y1Ba2Cu3H0.2O7  0.20          92.00

## 7.
¿Cuál es el promedio de la fracción de composición de hidrógeno en los compuestos obtenidos en el ejercicio 6 y qué valores tienen los cuartiles (25%, 50%, 75%) en su temperatura crítica?

In [63]:
subset = df.loc[mask]

In [64]:
promedio_H = subset['H'].mean()

In [65]:
cuartiles_Tc = subset['critical_temp'].quantile([0.25, 0.5, 0.75])

In [66]:
print("Promedio de la fracción de H:", promedio_H)
print("\nCuartiles de critical_temp:\n", cuartiles_Tc)

Promedio de la fracción de H: 1.256847972972973

Cuartiles de critical_temp:
 0.25     4.37125
0.50    13.70000
0.75    45.07500
Name: critical_temp, dtype: float64

## 8.
¿Cuántos superconductores con temperatura crítica menor a 80 kelvin tienen en su composición átomos de titanio (Ti) y oxígeno (O)?

In [74]:
df = pd.read_csv(path)
for col in ['Ti', 'O', 'critical_temp']:
    df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0)

Filtro:

In [75]:
mask = (df['critical_temp'] < 80) & (df['Ti'] > 0) & (df['O'] > 0)
subset = df.loc[mask]

Conteo:

In [76]:
count = len(subset)

print("Número de superconductores con Tc < 80K que contienen Ti y O:", count)

Número de superconductores con Tc < 80K que contienen Ti y O: 185

In [77]:
cols_to_show = [c for c in ['material','Ti','O','critical_temp'] if c in df.columns]
print(subset[cols_to_show].head(10))

                      material     Ti      O  critical_temp
69    Sr0.2La1.8Cu0.95Ti0.05O4  0.050  4.000          21.00
1983                  Li1Ti1O4  1.000  4.000          12.15
2419       Y1Sr2Cu2.7Ti0.3O6.7  0.300  6.700          26.00
2420   Y1Sr2Cu2.675Ti0.325O6.6  0.325  6.600          21.00
2421     Y1Sr2Cu2.65Ti0.35O6.8  0.350  6.800          21.00
2422         Y1Sr2Cu2.7Ti0.3O7  0.300  7.000          58.00
2423   Y1Sr2Cu2.675Ti0.325O7.1  0.325  7.100          56.00
2424     Y1Sr2Cu2.65Ti0.35O7.1  0.350  7.100          53.00
3170     Y1Sr2Cu2.7Ti0.3O7.224  0.300  7.224          35.00
3171     Y1Sr2Cu2.7Ti0.3O7.152  0.300  7.152          23.00